

<h1>Signup!</h1>
<%= form_tag '/users', method: :post do %>
  <div class="w3-row">
    <div class="w3-row-pading">
      <div>
      <label for="boxname">Name</label>
      <input type="name" id="boxname" name="name" placeholder="Name">
      </div>
      <div>
      <label for="boxname">Email</label>
        <input type="email" id="boxname" name="email" placeholder="Email">
      </div>
      <div>
      <label for="boxname">Password</label>
        <input type="password" id="boxname" name="password" placeholder="Password">
      </div>
      <div>
      <label for="boxname">Confirm Password</label>
        <input type="password" id="boxname" name="password_confirmation" placeholder="Confirm password">
      </div>
      <% if current_user.role_id == 1%>
        <div>
          <label>Role</label>
          <select name ="role_id">
             <option value="" disable selected></option>
             <% @roles.each do|role|%>
             <option value="<%= role.id%>"><%= role.name%></option>
             <% end %>
          </select>
        </div>
      <% end %>
      <div>
      <input type="submit" name="submit">
      </div>
    </div>
  </div>
<% end %> 
      
      
  
 
  