
<%=form_tag "/records", method: :post do %>
<h1>General Information</h1>
  <div>
    <p> 
    Weigh: <input type="number" name ="weight"> 
    Height: <input type="text" name="height"> 
    Family Medical History: <input type="text" name="family_medical_history">
    Symptoms: <input type="text" name="symptoms"> 
    Blood Type:<input type="text" name="blood_type"></p>
  </div>
  <div>
    <input type="submit" name="create records">
  </div>
<% end %>
    
  