<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000" id="slider-5" style="background-color: #4c6972;">
  <div class="mbr-section__container">
        <div>
            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-5" class="" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url(http://www.investors.com/wp-content/uploads/ibd-migrated-images/Biz04-hospital-0924-iStock.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-right mbr-box__magnet--sm-padding">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-6 col-md-offset-5">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">Your Happiness is a Reflection of Your Health</h1>

                                    <p class="mbr-hero__subtext">stay Healthy </p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--left mbr-buttons--right"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="https://www.youtube.com/watch?v=GN1BzbcTIzE">Component of Balanced Diet</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="https://www.youtube.com/watch?v=VUyEPf-IvdM">Top Ten Healthiest Food</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(https://www.centerforhealthjournalism.org/files/title_images/ROH%20Electronic%20Health%20Records%20Essay%20Photo.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-8 col-md-offset-2">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">It is Health that is real Wealth</h1>

                                    <p class="mbr-hero__subtext">stay in touch with your provider</p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="https://www.youtube.com/watch?v=lW6hwmdZbmE">Smoking Effects</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="https://www.youtube.com/watch?v=0TL2Vh7goJc">Quick Smoking Advice</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(http://israelvalley.s3-eu-west-1.amazonaws.com/files/000/013/240/original/dreamstime_s_41351405.jpg?1441032802);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">Take care of your body. It's the only place you have to live in.</h1>

                                    <p class="mbr-hero__subtext">Lead your Health </p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="https://www.youtube.com/watch?v=SFBBjynBpSw">Why Exercise?</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="https://www.youtube.com/watch?v=q20pLhdoEoY">Sample Exercise for Beginners</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-5">
                <span aria-hidden="true"><</span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-5">
                <span aria-hidden="true">></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>


<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><#%=current_user.name%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav> -->
<% if current_user.role.name == "patient"%>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/healthcarefacilities">Hospitals<span class="sr-only">(current)</span></a></li>
            <li><a href="/services">Service</a></li>
            <li><a href="/records">Hospital Records</a></li>
            <li><a href="/records/new">New Record</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome <%= current_user.name %></h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img id="myImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Risks_form_smoking-smoking_can_damage_every_part_of_the_body.png/310px-Risks_form_smoking-smoking_can_damage_every_part_of_the_body.png"  data-zoom-image="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Risks_form_smoking-smoking_can_damage_every_part_of_the_body.png/310px-Risks_form_smoking-smoking_can_damage_every_part_of_the_body.png" alt="Trolltung, Norway" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <script>
                $('#myImg').elevateZoom({
                  zoomType        : "lens",
                    lensShape : "round",
                    lensSize    : 250
                });
               </script>
              <div id="myModal" class="modal"  >
                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
              </div>
              <span class="glyphicon glyphicon-alert" aria-hidden="true"> Never Smoke</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img id="image-o1" src="http://4.bp.blogspot.com/-235yu-SEJgI/VUBSohY2Q9I/AAAAAAAAAC0/rEfMXWREklY/s1600/The%2BBenefits%2Bof%2BFruits%2Band%2BVegetables%2BHigh%2Bin%2BAntioxidants.jpg" width="200" height="200" class="img-responsive" data-zoom-image="http://4.bp.blogspot.com/-235yu-SEJgI/VUBSohY2Q9I/AAAAAAAAAC0/rEfMXWREklY/s1600/The%2BBenefits%2Bof%2BFruits%2Band%2BVegetables%2BHigh%2Bin%2BAntioxidants.jpg" width="200" height="200" alt="Generic placeholder thumbnail">
              <script>
                $("#image-o1").elevateZoom({easing : true});
              </script>
              <span class="glyphicon glyphicon-alert" aria-hidden="true"> Protect your Body</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img id="image-02" src="https://cdn1.sph.harvard.edu/wp-content/uploads/sites/30/2012/09/HEPJan2015.jpg" width="200" height="200" data-zoom-image="https://cdn1.sph.harvard.edu/wp-content/uploads/sites/30/2012/09/HEPJan2015.jpg" width="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <script>
               $("#image-02").elevateZoom({easing : true});
              </script>
              <span class="glyphicon glyphicon-alert" aria-hidden="true"> Eat Healthy Food</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img id="image-03" src="http://www.sikhanswers.com/wp-content/uploads/2010/04/Alcohol-and-Health.jpg" width="200" height="200" data-zoom-image="http://www.sikhanswers.com/wp-content/uploads/2010/04/Alcohol-and-Health.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <script>
                $('#image-03').elevateZoom({
                  zoomType        : "lens",
                    lensShape : "round",
                    lensSize    : 250
                });
               </script>
              <span class="glyphicon glyphicon-alert" aria-hidden="true"> Drink Responsibly</span>
            </div>
          </div>
          <div ng-app="app">
            <div ng-controller="recordsCtrl" ng-init="setup(<%= current_user.id %>)">
              <h2 class="sub-header">Your Records</h2>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Height</th>
                      <th>Weight</th>
                      <th>Family Medical History</th>
                      <th>Symptoms</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    <tr ng-repeat="record in records">
                      <td>{{record.created_at}}</td>
                      <td>{{record.height}}</td>
                      <td>{{record.weight}}</td>
                      <td>{{record.family_medical_history}}</td>
                    </tr>
                  </tbody>
                </table> <br>
               <!--  <div>
                  <strong><h4>Add Record</h4></strong>
                  Country: <input ng-model="recordCountry">
                  Province: <input ng-model="recordProvince">
                  District: <input ng-model="recordDistrict">
                  Sector: <input ng-model="recordSector">
                  Cell: <input ng-model="recordCell">
                  Village: <input ng-model="recordVillage">
                  Hospital: <input ng-model="recordHospital">
                  Symptoms: <input ng-model="recordSymptoms">
                  Sign: <input ng-model="recordSign">
                  Laboratory Text: <input ng-model="recordLaboratorytext">
                  Diagnosis: <input ng-model="recordDiagnosis">

                  <button ng-click="addRecord(recordCountry, recordProvince, recordDistrict, recordSector, recordCell, recordVillage, recordHospital, recordSymptoms, recordSign,recordLaboratorytext, recordDiagnosis)">Submit Record</button>
                </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%end %>



    
                      

                                 





          
          








     
   



